* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  margin: 0;
  background-color: #2D3243;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height:100vh;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  align-items: center;
}

.header {
  color: white;
}

.wrapper-messages {
  flex-grow: 1;
  margin-bottom: 150px;
  padding: 50px 20px;
  width: 800px;
  max-width: 80vw;
}

.message {
  min-width: 100px;
  height: fit-content;
  min-height: 50px;
  padding: 20px 30px;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
}

.wrapper-form {
  width: fit-content;
  min-width: 800px;
  max-width: 80vw;
  height: fit-content;
  background-color: #2D3243;
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  padding: 20px 20px;
}

#form {
  position: relative;
}

.wrapper-form textarea {
  border: 3px solid white;
  border-radius: 10px;
  min-height: 50px;
  height: fit-content;
  width: 100%;
  background-color: transparent;
  color: white;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 80px;
  font-size: 18px;
}

.wrapper-form input[type='file'] {
  display: none;

}

.wrapper-form img {
  cursor: pointer;
}

.file-input {
  position: absolute;
  left:15px;
  top: 15px;
}

#send {
  position: absolute;
  right:5px;
  top: Opx;
}

.form-button {
  background-color: transparent;
  border: none;
  height: 100%;
}